@media screen and (max-width: 1350px) {
    .intro {
        top: 175px;
    }
    .card {
        width: 550px;
    }
    .card img {
        height: 150px;
    }
}

@media screen and (max-width: 1220px) {
    .intro {
        top: 180px;
    }
    .card {
        width: 450px;
    }
}

@media screen and (max-width: 1060px) {
    .main-contact-links ul {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main-arrow-down {
        top: 500px;
    }
    .intro {
        top: 175px;
    }
    .intro-top > * {
        font-size: 2.5em;
    }
    .about-left, .about-right {
        width: 500px;
    }
    .card {
        width: 600px;
    }
    .card img {
        height: 200px;
    }
}

@media screen and (max-width: 680px) {
    .intro {
        top: 160px;
    }
    .intro-top > * {
        font-size: 2em;
    }
    .card {
        width: 400px;
        height: 425px;
    }
    .card img {
        height: 175px;
        width: 350px;
    }
}

@media screen and (max-width: 530px){
    .card {
        width: 300px;
    }
    .card img {
        height: 125px;
        width: 275px;
    }
    .contact-arrow-up {
        top: 105px;
        left: 50%;
    }
}

@media screen and (max-width: 374px) {
 
    .card {
        width: 275px;
    }
    .card img {
        height: 120px;
        width: 250px;
    }
}

@media screen and (max-width: 356px) {
    .card {
        width: 260px;
    }
    .card img {
        height: 115px;
        width: 225px;
    }
}