@media screen and (max-width: 1350px) {
    .intro {
        top: 175px;
    }
    .card {
        width: 550px;
    }
    .card img {
        height: 150px;
    }
}

@media screen and (max-width: 1220px) {
    .intro {
        top: 180px;
    }
    .card {
        width: 450px;
    }
}

@media screen and (max-width: 1060px) {
    .main-contact-links ul {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main-arrow-down {
        top: 500px;
    }
    .intro {
        top: 175px;
    }
    .intro-top > * {
        font-size: 2.5em;
    }
    .about {
        height: 950px;
    }
    .about-left, .about-right {
        width: 500px;
    }
    .about-arrow-down {
        top: 920px;
    }
    .card {
        width: 600px;
    }
    .card img {
        height: 200px;
    }
    .projects-arrow-down {
        top: 1960px;
    }
}

@media screen and (max-width: 680px) {
    .intro {
        top: 160px;
    }
    .intro-top > * {
        font-size: 2em;
    }
    .card {
        width: 400px;
    }
    .card img {
        height: 175px;
    }
}

@media screen and (max-width: 530px){
    .about {
          height: 1025px;
    }
    .about-arrow-down {
        top: 975px;
    }
    .card {
        width: 300px;
    }
    .card img {
        height: 125px;
    }
    .contact-arrow-up {
        top: 105px;
        left: 50%;
    }
}

@media screen and (max-width: 441px) {
    .about {
          height: 1075px;
    }
    .about-arrow-down {
        top: 1060px;
    }
}

@media screen and (max-width: 435px) {
    .about {
        height: 1150px;
    }
    .about-arrow-down {
        top: 1130px;
    }
}

@media screen and (max-width: 429px) {
    .about {
          height: 1210px;
    }
    .about-arrow-down {
        top: 1190px;
    }
}

@media screen and (max-width: 415px) {
    .about {
          height: 1280px;
    }
    .about-arrow-down {
        top: 1270px;
    }
}

@media screen and (max-width: 374px) {
    .about {
          height: 1350px;
    }
    .about-arrow-down {
        top: 1340px;
    }
    .card {
        width: 275px;
    }
    .card img {
        height: 120px;
    }
}

@media screen and (max-width: 356px) {
    .card {
        width: 260px;
    }
    .card img {
        height: 115px;
    }
    .projects-arrow-down {
        top: 1945px;
    }
}