@media screen and (max-width: 1350px) {
    .card {
        width: 550px;
    }
    .card img {
        height: 150px;
    }
}

@media screen and (max-width: 1220px) {
    .card {
        width: 450px;
    }
}

@media screen and (max-width: 1060px) {
    .about {
        height: 900px;
    }
    .about-left, .about-right {
        width: 500px;
    }
    .about-arrow-down {
        top: 875px;
    }
    .card {
        width: 600px;
    }
    .card img {
        height: 200px;
    }
    .projects-arrow-down {
        top: 1925px;
    }
}

@media screen and (max-width: 680px) {
    .main-contact-links ul {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .main-arrow-down {
        top: 500px;
    }
    .card {
        width: 400px;
    }
    .card img {
        height: 175px;
    }
}

@media screen and (max-width: 535px){
    .main-contact-links {
        left: 30%
    }
    .main-contact-links ul {
        flex-direction: column;
    }
}

@media screen and (max-height: 820px) {
    .intro {
        top: 25vh;
    }
    .intro-top > * {
        font-size: 2.5em;
    }
}