:root {
    --background-color-1: rgb(1, 135, 197)
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

.top {
    background: url(./assets/simon-berger-twukN12EN7c-unsplash.jpg);
    height: 100vh;
    background-size: cover;
}

.header {
    background-color: rgba(255, 255, 255, 0.692);
    height: 5rem;
    padding: 20px;
    position: sticky;
}

#desktop-nav {
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    width: auto;
}
.menu {
    padding: 1rem;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    padding-right: 1em;
    color: var(--background-color-1);
}

.intro {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.left {
    text-align: center;
    margin-top: 4rem;
}

.name {
    padding-top: 15px;
    color: blue;
}
.profile-pic {
    height: 20rem;
}

.right ::first-letter {
    color:blue
}

.right {
    padding-top: 3rem;
}