/* STYLE */

@font-face {
    font-family: 'EmilysCandy';
    src: url(EmilysCandy-Regular.ttf);
}

:root {
    --color-1: #00308F;
    --color-2: #0247FF;/*used for the icons*/
    --color-3: #F2F3F5;
    --color-4: #73c2da;
    --color-5: #0c0c0c;
    --color-6: rgba(225, 230, 250, 0.842);

}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    padding-right: 1em;
    color: var(--color-1);
}

h1 {
    text-align: center;
    padding: 1.5rem;
    font-size: clamp(1.5rem, calc(3em + 2vh), 5rem);
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    margin-top: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    line-height: 1.2;
}

h3 {
    text-align: center;
    padding: 0.5rem;
    font-size: clamp(0.5rem, 1.5rem, 2rem);
}

p {
    text-align: center;
    font-size:  1rem;
    padding: 5px;
    line-height: 1.5em;
}

.text {
    width: auto;
}

.arrow-white {
    width: 30px;
    height: auto;
    filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.4))
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons img {
    padding-right: 0.5em;
}

/* NAV */

.desktop-nav {
    background-color: var(--color-3);
    width: 100%;
    height: 8vh;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 4vh;
    width: auto;
}

.menu {
    padding: 1rem;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

/* MAIN SECTION */

.main {
    background: url(./assets/glauber-sampaio-FkNzeOnsA0g-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.main-contact-links {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-contact-links ul {
    display: flex;
    flex-direction: row;
}

.intro {
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92vw;
    text-align: center;
}

.name {
    color: var(--color-1);
    text-shadow: 1px 1px 5px white;
    font-family: 'EmilysCandy', sans-serif;
}

.intro-bottom {
    text-shadow: 1px 1px 2px rgba(212, 209, 209, 0.884);
}

.main-arrow-down {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*ABOUT SECTION*/

.about {
    position: relative;
    background-color: var(--color-3);
    width: 100%;
    padding: 4rem 1rem;
    height: auto;
}

.about-lr {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2em;
}

.about-left, .about-right {
    width: 450px;
}

.about-right-top, .about-right-bottom {
    padding-top: 1.5em;
}

.skill-list{
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
}

.skill-list li, .icons {
    text-decoration: none;
    border-radius: 3em;
    border: 2px solid var(--color-1);
    padding: 0.6em 1.5em;
    margin: 0.5em;
    background-color: var(--color-4);
    text-shadow: 1px 1.5px 1px white;
    box-shadow: 2px 2px 5px 1px var(--color-2);
}

.about-arrow-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*PROJECT SECTION*/

.projects {
    position: relative;
    background-color: var(--color-6);
    width: 100%;
    height: auto;
    padding: 4rem 1rem;
    padding-bottom: 50px;
}

.project-container {
    background-color: var(--color-4);
    border:  solid var(--color-1) 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    padding: 20px 20px 50px 20px;
    min-height: 700px;
    min-width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 430px;
    width: 600px;
    padding: 1em;
    background-color: var(--color-3);
    border:  solid var(--color-5) 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 1px var(--color-2);
}

.card img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin: 1em;
}

.check-out-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.check-out-project a {
    padding: 10px;
    text-decoration: none;
}

.projects-arrow-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*CONTACT SECTION*/

.contact {
    position: relative;
    background-color: var(--color-3);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.contact-form div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-arrow-up {
    position: absolute;
    top: 150px;
    left: 10%;
    transform: translate(-50%, -50%);
}

/*FOOTER SECTION*/

.footer-a {
    background-color: var(--color-6);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}